<!DOCTYPE html>
<html>
<head>
    <title>Author Detail</title>
</head>
<body>
    <h1>{{ author.AutNom }}</h1>
    <p>Codigo: {{ author.AutCod }}</p>
    <p>Version: {{ author.AutVer }}</p>
    <p>Fecha Ingreso: {{ author.AutFecIng }}</p>
    <p>Alias: {{ author.AutAli }}</p>
    <p>Com: {{ author.AutCom }}</p>
    <p>Apellido Materno: {{ author.AutApeMat }}</p>
    <p>Apellido Paterno: {{ author.AutApePat }}</p>
    <p>Nombre: {{ author.AutNom }}</p>
    <p>Con: {{ author.AutCon }}</p>
    <p>Telefono: {{ author.AutTel }}</p>
    <p>DNI: {{ author.AutDNI }}</p>
    <p>OrgCod_id: {{ author.AutOrgCod_id }}</p>
    <p>EstCod_id: {{ author.AutEstCod_id }}</p>
</body>
</html>
