<!-- especificacion_detail.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles de la Especificacion {{ especificacion.EspCod }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body class="bg-white w-100 vh-100 d-flex justify-content-center align-items-center">
    <header>
        <div class="w-30 px-3 h-100 d-flex justify-content-center align-items-center"> 
            <img class="me-3" style="width: 70px; height: 55px;" src="{% static 'img/logo.png' %}">
            <h3 class="fs-3">ReqWizardApp</h3>
        </div>
        <ul>
            <li><a href="{% url 'organization_list' %}">Menu Principal</a>/</li>
            <li>{{especificacion.EspCod}}</li>
        </ul>
    </header>
    <div>
        <aside>
            <span><- -></span>
            <h1>Menu Principal</h1>
            <div>
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <p>Nombre: pis_sgrs</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button id="close_sesion" type="sumit">Cerrar sesión</button>
            </form>
        </aside>
        <section class="contenedor-section">
            <h1>Detalles del Proyecto {{ especificacion.EspNom }}</h1>
            <p><strong>Código:</strong> {{ especificacion.EspCod }}</p>
            <p><strong>Versión:</strong> {{ especificacion.EspVer }}</p>
            <p><strong>Fecha de Creación:</strong> {{ especificacion.EspFecCre }}</p>
            <p><strong>Fecha de Modificación:</strong> {{ especificacion.EspFecMod }}</p>
            <p><strong>Comentario:</strong> {{ especificacion.EspCom }}</p>
            <p><strong>Código de Proyecto</strong> {{ especificacion.EspProCod }}</p>
            <a href="{% url 'especificacion_list' pro_cod=pro_cod %}">Volver al Listado de Especificaciones</a>
        </section>
    </div>
   
</body>
</html>

