<!-- ilacion_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Ilaccion</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/proyectos.css' %}">
</head>
<body class="bg-white w-100 vh-100 d-flex justify-content-center align-items-center">
    <header>
        <div class="w-30 px-3 h-100 d-flex justify-content-center align-items-center"> 
            <img class="me-3" style="width: 70px; height: 55px;" src="{% static 'img/logo.png' %}">
            <h3 class="fs-3">ReqWizardApp</h3>
        </div>
        <ul>
            <li><a href="#">Menu Principal</a>/</li>
            <li><a href="#">{{project.ProNom|default:"Variable no definida o vacía"}}</a></li>
        </ul>
    </header>
    <div>
    
        <aside>
            <span><- -></span>
            <h1>Menu Principal</h1>
            <div>
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <p>Nombre: pis_sgrs</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button id="close_sesion" type="sumit">Cerrar sesión</button>
            </form>
            
        </aside>
        <section class="contenedor-section">
            <img class="proyecto-logo" src="{% static 'img/logo.png' %}" alt="">
            <h1 class="titulo">Mocar Company</h1>
            <br>
            <div class="contenedor-buscador mt-4 mb-5">
                <a class="btn-registro" href="{% url 'ilacion_create' pro_cod=pro_cod%}">Nuevo Ilaccion</a>
                <input class="buscar-ilacion" type="search" name="buscar-ilacion" id="" placeholder="Buscar"></input>   
            </div>
            
            <table class="table my-4 ilacions">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Fecha de Creacion</th>
                        <th scope="col">Fecha de Modificacion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ilacion in ilaciones %}
                    <tr>
                        <th>{{ ilacion.IlaCod }}</th>
                        <td>{{ ilacion.IlaFecCre }}</td>
                        <td>{{ ilacion.IlaFecMod }}</td>
                        <td>
                            <a href="{% url 'ilacion_detail' pro_cod=pro_cod ila_cod=ilacion.IlaCod %}">Ver detalles</a>
                            <a href="{% url 'ilacion_update' pro_cod=pro_cod ila_cod=ilacion.IlaCod %}">Editar</a>
                            <a href="{% url 'ilacion_delete' pro_cod=pro_cod ila_cod=ilacion.IlaCod %}">Eliminar</a>

                            <!-- <a href="% url 'ilacion_menu' org_cod=org_cod pk=ilacion.ProCod %}">Entrar</a>-->
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>No hay ilacions disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </section>
    </div>
    
</body>
</html>

